<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
  <h1>Reset Password</h1>
  <div class="login-form">
    <form th:action="@{/internsathi/user/resetPassword}" th:method="post" th:object="${resetPassword}">
      <div class="form-group">
        <label for="username">Username</label>
        <input th:field="*{username}" type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input th:field="*{email}" type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input th:field="*{password}" type="password" id="password" name="password" required>
      </div>
      <button type="submit" onclick="storeUsernameAndPassword()">Reset Password</button>
    </form>
    <!--<div th:if="${success}" class="success-message">
      Your password has been successfully reset.
    </div>-->
    <div th:if="${error}" class="error-message">
      There was an error resetting your password. Please try again.
    </div>
  </div>
</div>

<script>
  function storeUsernameAndPassword() {
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    if (username && password) {
      localStorage.setItem('username', username);
      localStorage.setItem('password', password);
    }
  }
</script>
</body>
</html>